<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MobileWS</servlet-name>
        <servlet-class>com.kkp.controller.MobileWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.kkp.mapping.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.axa.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMenuAction</servlet-name>
        <servlet-class>com.kkp.controller.AdminMenuAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPrivilegeAction</servlet-name>
        <servlet-class>com.kkp.controller.AdminPrivilegeAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPrivilegeDetailAction</servlet-name>
        <servlet-class>com.kkp.controller.AdminPrivilegeDetailAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserAction</servlet-name>
        <servlet-class>com.kkp.controller.AdminUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebService</servlet-name>
        <servlet-class>com.kkp.controller.WebService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Karyawan</servlet-name>
        <servlet-class>com.kkp.mapping.Karyawan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/cms/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenuAction</servlet-name>
        <url-pattern>/cms/AdminMenuAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPrivilegeAction</servlet-name>
        <url-pattern>/cms/AdminPrivilegeAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPrivilegeDetailAction</servlet-name>
        <url-pattern>/cms/AdminPrivilegeDetailAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserAction</servlet-name>
        <url-pattern>/cms/AdminUserAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileWS</servlet-name>
        <url-pattern>/MobileWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebService</servlet-name>
        <url-pattern>/WebService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Karyawan</servlet-name>
        <url-pattern>/cms/Karyawan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
